[phases.setup]
nixPkgs = [
    "python310",
    "postgresql",
    "cairo",
    "pango",
    "gdk-pixbuf",
    "libffi",
    "glib",
    "gobject-introspection"
]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "python manage.py migrate && python manage.py collectstatic --noinput && gunicorn islamic_learning.wsgi:application --bind 0.0.0.0:$PORT --workers 2 --threads 4 --timeout 120 --access-logfile - --error-logfile -"