[phases.setup]
aptPkgs = [
    "libcairo2-dev",
    "libpango-1.0-0",
    "libpangocairo-1.0-0",
    "libgdk-pixbuf2.0-0",
    "libffi-dev",
    "shared-mime-info",
    "libglib2.0-0",
    "libgobject-2.0-0",
    # Fix for pycairo XCB error - ADD THESE
    "libxcb1-dev",
    "libxcb-xkb-dev",
    "xcb",
    "xcb-proto",
    "libxcb-render0-dev",
    "libxcb-shm0-dev",
    # Build tools
    "pkg-config",
    "gcc",
    "g++",
    "make"
]